:root {

  /* Scale whole test screen, by deviding it with a number (default = 2) */
    --divider: 4;

  /* Squares */
  --square-size: calc(150px/var(--divider));

  /* Circle */
  --circle-size: calc(calc(var(--square-size) * 12) + calc(var(--white-space) * 12));
  --circle-offset: calc(calc(calc(var(--square-size) / 2) + var(--white-space)) * -1);

  /* Rectangles */
  --rectangle-thickness: calc(25px / var(--divider));
  --rectangle-length: var(--square-size);

  /* Margins around shapes */
  --margin-around: calc(5px / var(--divider));
  --white-space: calc(var(--margin-around) * 2);

}


/* MAIN */
body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}


/* BG */
.container {
  position: relative;
  font-size: 0px; /* Solves inline-block spacing issue */
  margin: auto;
  white-space: nowrap; /* Solves inline-block breaking line issue */
  width: calc(calc(var(--square-size) * 23) + calc(var(--rectangle-thickness) * 2) + calc(var(--white-space) * 25));
}


/* BG > ROWS */
.row-top {
  position: relative;
  height: calc(var(--rectangle-thickness) + var(--white-space));
}

.row {
  position: relative;
  height: calc(var(--square-size) + var(--white-space));
}

.row-bottom {
  position: relative;
  height: var(--rectangle-thickness);
}


/* BG > BLOCKS */
.corner {
  display: inline-block;
  width: var(--rectangle-thickness);
  height: var(--rectangle-thickness);
  margin: var(--margin-around);
}

.square, .square-white {
  position: relative;
  display: inline-block;
  background-color: #808080;
  width: var(--square-size);
  height: var(--square-size);
  margin: var(--margin-around);
}

.square-white {
  background-color: #ffffff;
}

.horizontal-black, .horizontal-white {
  display: inline-block;
  background-color: #000000;
  width: var(--rectangle-length);
  height: var(--rectangle-thickness);
  margin: var(--margin-around);
}

.vertical-black, .vertical-white {
  display: inline-block;
  background-color: #000000;
  width: var(--rectangle-thickness);
  height: var(--rectangle-length);
  margin: var(--margin-around);
}

.horizontal-white, .vertical-white {
  background-color: #ffffff;
}


/* BG > STRIPED */
.striped-top, .striped-right, .striped-bottom, .striped-left {
  background-image: url('images/bg-three-stripes.svg');
  background-size: contain;
}
.striped-top        { transform: rotate(270deg); }
.striped-right      { transform: rotate(180deg); }
.striped-bottom     { transform: rotate(90deg); }


/* BG > GRIDS */
/* With a little help from > https://www.the-art-of-web.com/css/linear-gradients/ */
.grid-left, .grid-right {
  position: absolute;
  z-index: 1;

  background: url('images/bg-grid-left.svg');
  background-size: contain;
  background: #ffffff;
  background: linear-gradient(180deg,

    /*  7px */ #999999 0 calc(7px/var(--divider)),

    /* 13px */ #ffffff calc(7px/var(--divider)) calc(20px/var(--divider)),

    /* 20px */ #000000 calc(20px/var(--divider)) calc(40px/var(--divider)),
    /* 20px */ #ffffff calc(40px/var(--divider)) calc(60px/var(--divider)),
    /* 20px */ #000000 calc(60px/var(--divider)) calc(80px/var(--divider)),

    /* 18px */ #ffffff calc(80px/var(--divider)) calc(98px/var(--divider)),
    /* 18px */ #000000 calc(98px/var(--divider)) calc(116px/var(--divider)),
    /* 18px */ #ffffff calc(116px/var(--divider)) calc(134px/var(--divider)),
    /* 18px */ #000000 calc(134px/var(--divider)) calc(152px/var(--divider)),

    /* 16px */ #ffffff calc(152px/var(--divider)) calc(168px/var(--divider)),
    /* 16px */ #000000 calc(168px/var(--divider)) calc(184px/var(--divider)),
    /* 16px */ #ffffff calc(184px/var(--divider)) calc(200px/var(--divider)),
    /* 16px */ #000000 calc(200px/var(--divider)) calc(216px/var(--divider)),

    /* 14px */ #ffffff calc(216px/var(--divider)) calc(230px/var(--divider)),
    /* 14px */ #000000 calc(230px/var(--divider)) calc(244px/var(--divider)),
    /* 14px */ #ffffff calc(244px/var(--divider)) calc(258px/var(--divider)),
    /* 14px */ #000000 calc(258px/var(--divider)) calc(272px/var(--divider)),

    /* 13px */ #ffffff calc(272px/var(--divider)) calc(285px/var(--divider)),
    /* 13px */ #000000 calc(285px/var(--divider)) calc(298px/var(--divider)),
    /* 13px */ #ffffff calc(298px/var(--divider)) calc(311px/var(--divider)),
    /* 13px */ #000000 calc(311px/var(--divider)) calc(324px/var(--divider)),

    /* 12px */ #ffffff calc(324px/var(--divider)) calc(336px/var(--divider)),
    /* 12px */ #000000 calc(336px/var(--divider)) calc(348px/var(--divider)),
    /* 12px */ #ffffff calc(348px/var(--divider)) calc(360px/var(--divider)),
    /* 12px */ #000000 calc(360px/var(--divider)) calc(372px/var(--divider)),
    /* 12px */ #ffffff calc(372px/var(--divider)) calc(384px/var(--divider)),
    /* 12px */ #000000 calc(384px/var(--divider)) calc(396px/var(--divider)),

    /* 11px */ #ffffff calc(396px/var(--divider)) calc(407px/var(--divider)),
    /* 11px */ #000000 calc(407px/var(--divider)) calc(418px/var(--divider)),
    /* 11px */ #ffffff calc(418px/var(--divider)) calc(429px/var(--divider)),
    /* 11px */ #000000 calc(429px/var(--divider)) calc(440px/var(--divider)),
    /* 11px */ #ffffff calc(440px/var(--divider)) calc(451px/var(--divider)),
    /* 11px */ #000000 calc(451px/var(--divider)) calc(462px/var(--divider)),

    /* 10px */ #ffffff calc(462px/var(--divider)) calc(472px/var(--divider)),
    /* 10px */ #000000 calc(472px/var(--divider)) calc(482px/var(--divider)),
    /* 10px */ #ffffff calc(482px/var(--divider)) calc(492px/var(--divider)),
    /* 10px */ #000000 calc(492px/var(--divider)) calc(502px/var(--divider)),
    /* 10px */ #ffffff calc(502px/var(--divider)) calc(512px/var(--divider)),
    /* 10px */ #000000 calc(512px/var(--divider)) calc(522px/var(--divider)),

    /*  9px */ #ffffff calc(522px/var(--divider)) calc(531px/var(--divider)),
    /*  9px */ #000000 calc(531px/var(--divider)) calc(540px/var(--divider)),
    /*  9px */ #ffffff calc(540px/var(--divider)) calc(549px/var(--divider)),
    /*  9px */ #000000 calc(549px/var(--divider)) calc(558px/var(--divider)),
    /*  9px */ #ffffff calc(558px/var(--divider)) calc(567px/var(--divider)),
    /*  9px */ #000000 calc(567px/var(--divider)) calc(576px/var(--divider)),

    /*  8px */ #ffffff calc(576px/var(--divider)) calc(584px/var(--divider)),
    /*  8px */ #000000 calc(584px/var(--divider)) calc(592px/var(--divider)),
    /*  8px */ #ffffff calc(592px/var(--divider)) calc(600px/var(--divider)),
    /*  8px */ #000000 calc(600px/var(--divider)) calc(608px/var(--divider)),
    /*  8px */ #ffffff calc(608px/var(--divider)) calc(616px/var(--divider)),
    /*  8px */ #000000 calc(616px/var(--divider)) calc(624px/var(--divider)),

    /*  7px */ #ffffff calc(624px/var(--divider)) calc(631px/var(--divider)),
    /*  7px */ #000000 calc(631px/var(--divider)) calc(638px/var(--divider)),
    /*  7px */ #ffffff calc(638px/var(--divider)) calc(645px/var(--divider)),
    /*  7px */ #000000 calc(645px/var(--divider)) calc(652px/var(--divider)),
    /*  7px */ #ffffff calc(652px/var(--divider)) calc(659px/var(--divider)),
    /*  7px */ #000000 calc(659px/var(--divider)) calc(666px/var(--divider)),
    /*  7px */ #ffffff calc(666px/var(--divider)) calc(673px/var(--divider)),
    /*  7px */ #000000 calc(673px/var(--divider)) calc(680px/var(--divider)),
    /*  7px */ #ffffff calc(680px/var(--divider)) calc(687px/var(--divider)),
    /*  7px */ #000000 calc(687px/var(--divider)) calc(694px/var(--divider)),

    /*  6px */ #ffffff calc(694px/var(--divider)) calc(700px/var(--divider)),
    /*  6px */ #000000 calc(700px/var(--divider)) calc(706px/var(--divider)),
    /*  6px */ #ffffff calc(706px/var(--divider)) calc(712px/var(--divider)),
    /*  6px */ #000000 calc(712px/var(--divider)) calc(718px/var(--divider)),
    /*  6px */ #ffffff calc(718px/var(--divider)) calc(724px/var(--divider)),
    /*  6px */ #000000 calc(724px/var(--divider)) calc(730px/var(--divider)),
    /*  6px */ #ffffff calc(730px/var(--divider)) calc(736px/var(--divider)),
    /*  6px */ #000000 calc(736px/var(--divider)) calc(742px/var(--divider)),
    /*  6px */ #ffffff calc(742px/var(--divider)) calc(748px/var(--divider)),
    /*  6px */ #000000 calc(748px/var(--divider)) calc(754px/var(--divider)),
    /*  6px */ #ffffff calc(754px/var(--divider)) calc(760px/var(--divider)),
    /*  6px */ #000000 calc(760px/var(--divider)) calc(766px/var(--divider)),
    /*  6px */ #ffffff calc(766px/var(--divider)) calc(772px/var(--divider)),
    /*  6px */ #000000 calc(772px/var(--divider)) calc(778px/var(--divider)),
    /*  6px */ #ffffff calc(778px/var(--divider)) calc(784px/var(--divider)),
    /*  6px */ #000000 calc(784px/var(--divider)) calc(790px/var(--divider))

  );
  width: var(--square-size);
  height: calc(calc(var(--square-size) * 5) + calc(var(--white-space) * 4));
}

.grid-left-top, .grid-right-top, .grid-left-bottom, .grid-right-bottom {
  position: absolute;
  z-index: 1;

  background-image: url('images/bg-grid-left-top.svg');
  background-size: contain;
  background: #ffffff;
  background: repeating-linear-gradient(45deg,

    /* 6px zebra, on a 0.91px off-set */
    #ffffff, #ffffff calc(0.91px/var(--divider)),
    #000000 calc(0.91px/var(--divider)), #000000 calc(6.91px/var(--divider)),
    #ffffff calc(6.91px/var(--divider)), #ffffff calc(12px/var(--divider))

  );

  width: calc(calc(var(--square-size) * 2) + var(--white-space));
  height: calc(calc(var(--square-size) * 2) + var(--white-space));
}

.grid-left-bottom, .grid-right-bottom {
  background-image: url('images/bg-grid-left-bottom.svg');
  background-size: contain;
  background: #ffffff;
  background: repeating-linear-gradient(-45deg,

    /* 10.5px zebra, on a 3.63px off-set */
    #ffffff, #ffffff calc(3.63px/var(--divider)),
    #000000 calc(3.63px/var(--divider)), #000000 calc(14.13px/var(--divider)),
    #ffffff calc(14.13px/var(--divider)), #ffffff calc(21px/var(--divider))

  );
}

.grid-right         { transform: rotate(180deg); }
.grid-right-top,
.grid-right-bottom  { transform: rotate(90deg); }


/* BG > COLORS > LEFT + RIGHT */
.rectangle-large {
  position: absolute;
  z-index: 1;
  width: var(--square-size);
  height: calc(calc(var(--square-size) * 5.5) + calc(var(--white-space) * 5));
}

.rectangle-small {
  position: absolute;
  z-index: 1;
  width: calc(var(--square-size) + var(--white-space));
  height: calc(calc(var(--square-size) * 2) + var(--white-space));
}

.green-left     { background-color: #0BA78F; }
.blue-left      { background-color: #4486DA; right: 0; }
.pink-left      { background-color: #CF7196; bottom: 0; }
.brown-left     { background-color: #AE8819; right: 0; bottom: 0; }

.blue-right     { background-color: #4486DA; }
.green-right    { background-color: #7D9024; }
.purple-right   { background-color: #7A80CE; bottom: 0; }
.brown-right    { background-color: #AE8819; bottom: 0; }


/* CIRCLE */
.circle {
  position: absolute;
  background-color: #ffffff;
  z-index: 2;
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 50%;
  overflow: hidden;
  left: var(--circle-offset);
  top: var(--circle-offset);
}


/* CIRCLE > ROWS */
.row-offset {
  width: 0px;
  height: calc(var(--square-size) / 2);
}

.row-square-colors {
  position: relative;
  height: calc(calc(var(--square-size) * 2) + calc(var(--white-space) * 3));
}

.row-grid {
  position: relative;
  height: calc(calc(var(--square-size) * 2) + calc(var(--white-space) * 2));
}


/* CIRCLE > BLOCKS */
.block-absolute {
  position: absolute;
  z-index: 3;
  overflow: hidden;
}

.yellow    { background-color: #CECF07; }
.teal      { background-color: #27D0E4; }
.green     { background-color: #19DD0C; }
.pink      { background-color: #F93DFA; }
.red       { background-color: #F22B26; }
.blue      { background-color: #0915F5; }

.black     { background-color: #000000; }
.gray-80   { background-color: #333333; }
.gray-60   { background-color: #666666; }
.gray-40   { background-color: #999999; }
.gray-20   { background-color: #cccccc; }

/* Circle row 1 */
.rectangle-black-1 {
  left: calc(calc(var(--square-size) * 4) + calc(var(--white-space) * 4));
  width: calc(calc(var(--square-size) * 4) + calc(var(--white-space) * 4));
  height: calc(var(--square-size) + var(--white-space));
  background-color: #000000;
}

/* Circle row 2 */
.rectangle-black-2, .rectangle-black-4 {
  width: calc(calc(var(--square-size) * 3) + calc(var(--white-space) * 3));
  height: calc(var(--square-size) + var(--white-space));
  background-color: #000000;
}

.rectangle-black-4 {
  right: 0;
}

.rectangle-black-3 {
  left: calc(calc(var(--square-size) * 3.5) + calc(var(--white-space) * 3));
  width: var(--white-space);
  height: calc(var(--square-size) + var(--white-space));
  background-color: #000000;
}

/* Circle row 3 */
.square-middle {
  position: relative;
  display: inline-block;
  width: var(--square-size);
  height: calc(var(--square-size) + var(--white-space));
}

.square-middle:first-of-type {
  margin-left: calc(var(--white-space) * 6);
}

/* Circle row 4 */
.square-color {
  position: relative;
  display: inline-block;
  width: calc(calc(var(--square-size) * 2) + calc(var(--white-space) * 2));
  height: calc(calc(var(--square-size) * 2) + calc(var(--white-space) * 3));
}

/* Circle row 5 */
.row-inner-container {
  position: relative;
  height: var(--square-size);
}
.row-inner-top, .row-inner-bottom {
  position: relative;
  height: calc(calc(var(--square-size) - var(--white-space)) / 2);
}
.row-inner-top { margin-bottom: var(--white-space); }

.inner, .inner-sides, .inner-center {
  position: relative;
  display: inline-block;
  width: var(--square-size);
  height: calc(calc(var(--square-size) - var(--white-space)) / 2);
  background-color: #000000;
  margin: 0 var(--margin-around);
}

.inner-sides {
  width: calc(var(--square-size) / 2);
}

.inner-sides:first-child {
  margin: 0;
  margin-right: var(--margin-around);
}

.inner-sides:last-child {
  margin: 0;
  margin-left: var(--margin-around);
}

.inner-center {
  background-color: #000000;
}

.inner-rectangle-top, .inner-rectangle-bottom {
  position: absolute;
  z-index: 4;
  left: 0;
  width: var(--square-size);
  height: calc(calc(calc(var(--square-size) - var(--white-space)) / 2) + var(--white-space) + var(--square-size));
  background-color: #ffffff;
}
.inner-rectangle-top      { bottom: 0; }
.inner-rectangle-bottom   { top: 0; }

.inner-rectangle {
  position: absolute;
  z-index: 5;
  width: calc(calc(var(--square-size) - var(--white-space)) / 2);
  height: calc(calc(calc(var(--square-size) - var(--white-space)) / 2) + var(--white-space) + var(--square-size));
  background-color: #000000;
}
.inner-up-left    { left: 0; bottom: 0; }
.inner-up-right   { right: 0; bottom: 0; }
.inner-down-left  { left: 0; top: 0; }
.inner-down-right { right: 0; top: 0; }


/* Circle row 6 */
.grid-bar {
  position: relative;
  display: inline-block;
  background-image: url('images/bg-grid-bar.svg'); /* Fallback behind other divs */
  background-size: contain;
  width: calc(var(--circle-size) - calc(calc(var(--square-size) + var(--white-space)) * 2));
  height: calc(calc(var(--square-size) * 2) + calc(var(--white-space) * 2));
}

.grid-middle {
  position: relative;
  display: inline-block;
  width: calc(calc(var(--square-size) * 2) + calc(var(--white-space) * 2));
  height: calc(calc(var(--square-size) * 2) + calc(var(--white-space) * 2));
}
.grid-middle-1 {
  background: #ffffff;
  background: repeating-linear-gradient(90deg,

    /* 40px zebra, on a 20px off-set */
    #ffffff, #ffffff calc(20px/var(--divider)),
    #000000 calc(20px/var(--divider)), #000000 calc(60px/var(--divider)),
    #ffffff calc(60px/var(--divider)), #ffffff calc(80px/var(--divider))

  );
}
.grid-middle-2 {
  background: #ffffff;
  background: repeating-linear-gradient(90deg,

    /* 16px zebra, on a 8px off-set */
    #ffffff, #ffffff calc(8px/var(--divider)),
    #000000 calc(8px/var(--divider)), #000000 calc(24px/var(--divider)),
    #ffffff calc(24px/var(--divider)), #ffffff calc(32px/var(--divider))

  );
}
.grid-middle-3 {
  background: #ffffff;
  background: repeating-linear-gradient(90deg,

    /* 10.6(667)px zebra, on a 5.3(333)px off-set */
    #ffffff, #ffffff calc(5.3px/var(--divider)),
    #000000 calc(5.3px/var(--divider)), #000000 calc(15.9px/var(--divider)),
    #ffffff calc(15.9px/var(--divider)), #ffffff calc(21.2px/var(--divider))

  );
}
.grid-middle-4 {
  background: #ffffff;
  background: repeating-linear-gradient(90deg,

    /* 8px zebra, on a 4px off-set */
    #ffffff, #ffffff calc(4px/var(--divider)),
    #000000 calc(4px/var(--divider)), #000000 calc(12px/var(--divider)),
    #ffffff calc(12px/var(--divider)), #ffffff calc(16px/var(--divider))

  );
}
.grid-middle-5 {
  background: #ffffff;
  background: repeating-linear-gradient(90deg,

    /* 6.4px zebra, on a 3.2px off-set */
    #ffffff, #ffffff calc(3.2px/var(--divider)),
    #000000 calc(3.2px/var(--divider)), #000000 calc(9.6px/var(--divider)),
    #ffffff calc(9.6px/var(--divider)), #ffffff calc(12.8px/var(--divider))

  );
}


.grid-bar-side {
  position: relative;
  display: inline-block;
  width: calc(var(--square-size) + var(--white-space));
  height: calc(calc(var(--square-size) * 2) + calc(var(--white-space) * 2));
  background-color: #000000;
}

/* Circle row 7 */
.rectangle-grays {
  position: relative;
  display: inline-block;
  width: calc(calc(var(--square-size) * 2) + calc(var(--white-space) * 2));
  height: calc(var(--square-size) + var(--white-space));
}

/* Circle row 8 */
.rectangle-black-5 {
  left: calc(calc(var(--square-size) * 3) + calc(var(--white-space) * 3));
  width: calc(var(--square-size) / 2);
  height: calc(var(--square-size) + var(--white-space));
  background-color: #000000;
}

.rectangle-black-6 {
  left: calc(calc(var(--square-size) * 3.5) + calc(var(--white-space) * 4));
  width: calc(calc(var(--square-size) * 5.5) + calc(var(--white-space) * 5));
  height: calc(var(--square-size) + var(--white-space));
  background-color: #000000;
}

/* Circle row 9 */
.rectangle-red {
  left: calc(calc(var(--square-size) * 5.5) + calc(var(--white-space) * 6));
  width: var(--square-size);
  height: calc(calc(var(--square-size) * 2) + calc(var(--white-space) * 3));
  background-color: #F22B26;
}
